<div class="card border-dark mb-3">
  <div class="card-body bg-light">
    <h5 class="card-title">Multiple Events</h5>
    <div class="card-text">
      <h6>{{eventName1}} && {{eventName2}}</h6>
    <div> 
      <section >
        
       -> Created event(s): <mark>{{ eventName1}}</mark>
       -> Created event(s): <mark>{{ eventName2}}</mark>
        <pre><code class="code-block">
          childEvent1: ICuxEvent;
          childEvent2: ICuxEvent;
          
            ngOnInit() &#123;
              this.childEvent1 = new CuxEvent(this.eventName1);
              this.childEvent2 = new CuxEvent(this.eventName2);
          
              &#125;
        </code></pre>
      </section>
    </div>

    <div> 
      <section >
        
        <!-- -> Subscribed event(s): <mark>{{ eventName}}</mark>
        <pre><code class="code-block" ngNonBindable>
          this.subscriptions.push(
            this.evtSvc.listenEvent(this.eventName).subscribe(evt => &#123;
              this.eventOutput = evt.eventData;
              &#125;)
          );
        </code></pre> -->
      </section>
    </div>


    <p>
      <button (click)="fireEvent()" type="button" class="btn btn-info">Trigger event</button>

 
    </p>
  
  </div>
  </div>
</div>