<div class="card border-dark mb-3">
  <div class="card-body bg-light">
    <h5 class="card-title">Child to Parent Component</h5>
    <div class="card-text">
      <h6>parent</h6>
    <div> 
      <section >
        -> Event created in child.
        <!-- Created event(s): <mark>{{ eventName}}</mark>
        <pre><code class="code-block">
        eventName = 'simpleEvent';
        event: ICuxEvent = new CuxEvent(this.eventName);
        </code></pre> -->
      </section>
    </div>

    <div> 
      <section >
        -> Subscribed event(s): <mark>{{ eventName}}</mark>
        <pre><code class="code-block" ngNonBindable>
          this.subscriptions.push(
            this.evtSvc.listenEvent(this.eventName).subscribe(evt => &#123;
              this.eventOutput = evt.eventData;
              &#125;)
          );
        </code></pre>
      </section>
    </div>


    <div>
      <div *ngIf="!isMulti">
        <app-child-parent [eventName]="eventName"></app-child-parent>
      </div>
      <div *ngIf="isMulti">
        <app-multiple-events [eventName1]="multiEvent[0].name" [eventName2]="multiEvent[1].name" ></app-multiple-events>
      </div>
      <button (click)="clearEvent()" type="button" class="btn btn-info">Clear</button>
    </div>
    <div *ngIf="eventOutput">
      Event Output: <span class="badge badge-secondary"> {{eventOutput}}</span>
    </div>

    <div *ngIf="isMulti"><div *ngFor="let evt of multiEvent">
    Event Output: <span class="badge badge-secondary" *ngIf="evt.output"> {{evt.output}}</span>
    </div></div>
  </div>
  </div>
</div>